<h2 mat-dialog-title>Image Editor</h2>
<mat-dialog-content>
  <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Zoom
    </mat-panel-title>
  </mat-expansion-panel-header>
    <mat-slider min="1" max="2" step="0.1" [(ngModel)]="transform.scale"></mat-slider>

</mat-expansion-panel>
{{transform | json}}
  <image-cropper
    #imageEditor
    [ngClass]="{'hide': !this.showCropper}"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    [onlyScaleDown]="true"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
    [transform]="transform"
  >
  </image-cropper>

</mat-dialog-content>
<mat-dialog-actions>
  <button [ngClass]="{ 'mat-primary': this.showCropper }" mat-button (click)="crop()">Crop</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">Delete</button>
</mat-dialog-actions>